* {
    margin: 0;
    padding: 0;
}
#topbar {
    background: green;
    height: 60px;
    color: white;
    text-align: center;
    opacity: 0.3;
}
#topbar.sticky{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
main {
    background: #ddd;
    height: 1800px;
}
button.sticky{
	position: fixed;
	top: 0;
	left: 0;
}